<%= form_for(@glucose_check) do |f| %>
  <% if @glucose_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glucose_check.errors.count, "error") %> prohibited this glucose_check from being saved:</h2>

      <ul>
      <% @glucose_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :glucose %><br>
    <div class="input-group input-group-lg">
    <%= f.text_field :glucose, placeholder:'Glucose Reading', class: "form-control" %>
  </div>
  <div class=".btn-block">
    <%= f.submit "Submit", :class => "glucoseSubmit login btn btn-primary btn-lg"%>
  </div>
<% end %>
