<div class="wrapper">
  <div class="block">
  <div class="form">
  <div class="table">

<h1>List your measured Sugar level </h1>


<table>
  <thead>
    <tr>
      <th>Glucose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glucose_checks.each do |glucose_check| %>
      <tr>
        <td><%= glucose_check.glucose %></td>

        
          <td><%= link_to 'Show', glucose_check, :class =>'spacer' %></td>
        

        
          <td><%= link_to 'Edit', edit_glucose_check_path(glucose_check),:class =>'spacer' %></td>
       

        
          <td><%= link_to 'Destroy', glucose_check, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'spacer' %></td>
       

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glucose check', new_glucose_check_path %>
</div>
</div>
</div>
</div>    